.blog-list {
    @include unlist;
    &__item {
        padding-bottom: rem($padding-base);  
        + .blog-list__item {
            border-top: 2px solid $blue;
        }
        .title {
            @include h3;
            margin-bottom: 0;
        }
        .subtitle {
            @include light;
            @include small;
        }
        .excerpt {
            margin-top: rem(10px);
        }
    }
}