.blog-list {
    @include unlist;
    @include box-shadow(-5px, $blue);
    
    margin-top: rem($padding-base) * 2;
}

.blog-list__item {
    padding: rem($padding-base) rem($padding-base / 2);  
    + .blog-list__item {
        border-top: 2px solid $blue;
    }
    .title-link {
        display: inline-block;
    }
    .title {
        @include h3;
        margin-bottom: 0;
        line-height: 1.2;
    }
    .subtitle {
        @include light;
        @include small;
        display: block;
        margin-top: 5px;
    }
    .excerpt {
        margin-top: rem(10px);
    }
}