.home-page {
    @include min-width(sm) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    @include max-width(sm) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-right: rem($padding-base);
    }
}

.header--home {
    background-color: white;
    &__title {
        font-size: 10vw;
        margin: 0 rem($padding-base);
        @include min-width(lg) {
            font-size: rem(130px);
        }
        @include max-width(sm) {
            font-size: 14vw;
        }
        @include max-width(xs) {
            font-size: 10vw;
        }
    }
    &__subtitle {
        font-size: 8vw;
        margin: 0 rem($padding-base);
        @include min-width(lg) {
            font-size: rem(120px);
        }
        @include max-width(sm) {
            font-size: 10vw;
        }
        @include max-width(xs) {
            font-size: 8vw;
        }
    }
}