.navbar {
    padding: rem($padding-base) * 3 rem($padding-base) rem($padding-base) 0;
    @include max-width(sm) {
        display: flex;
    }
    &__item {
        display: block;
        margin-bottom: rem($padding-base) / 2;
        &--icons a {
            margin: 0 rem(5px);
            &:first-of-type {
                margin-left: 0;
            }
        }
        &--logo {
            font-family: "Metropolis ExtraBold", Helvetica, sans-serif;
            text-decoration: none;
            font-size: rem(45px);
        }
    }
}

.navbar-content {
    @include min-width(sm) {
        position: fixed;
        overflow-y: auto;
        height: calc(100% - 80px);
        padding-right: rem($padding-base);
    }
}

.navbar-menu {
    @include unlist;
    margin-top: rem($padding-base) * 2;
    @include max-width(sm) {
        display: none;
        position: absolute;
        background-color: $pink;
        width: 100%;
        padding: rem($padding-base);
        z-index: 3;
        margin-top: rem(70px);
        &.is-active {
            display: block;
        }
    }
}

//// Navbar Burger ////

.navbar-burger {
    color: $blue;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
    @include min-width(sm) {
        display: none;
    }
}

.navbar-burger span {
    background-color: currentColor;
    display: block;
    height: 1px;
    left: calc(50% - 8px);
    position: absolute;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition-duration: 86ms;
    transition-duration: 86ms;
    -webkit-transition-property: background-color,opacity,-webkit-transform;
    transition-property: background-color,opacity,-webkit-transform;
    transition-property: background-color,opacity,transform;
    transition-property: background-color,opacity,transform,-webkit-transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    width: 16px
}

.navbar-burger span:first-child {
    top: calc(50% - 6px)
}

.navbar-burger span:nth-child(2) {
    top: calc(50% - 1px)
}

.navbar-burger span:nth-child(3) {
    top: calc(50% + 4px)
}

.navbar-burger.is-active span:first-child {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg)
}

.navbar-burger.is-active span:nth-child(2) {
    opacity: 0
}

.navbar-burger.is-active span:nth-child(3) {
    -webkit-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg)
}