.portfolio-item {
    height: 100%;
    padding-top: rem(45px);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: $padding-base * 2;
    @include between-widths(sm, md) {
        grid-column-gap: $padding-base;
    }
    @include max-width(sm) {
        grid-template-columns: 1fr;
        grid-row-gap: $padding-base;
    }
    .page-title {
        @include h2;
        margin-bottom: 0;
        line-height: 1.25;
        margin-top: 0;
    }
    .date {
        color: $red;
        font-size: rem(14px);
    }
}

.portfolio-item {
    &__image-list {
        @include unlist;
        li:not(:last-of-type) {
            margin-bottom: $padding-base;
        }
    }
}
