.portfolio-item {
    display: flex;
    height: 100%;
    .page-title {
        @include h2;
        margin-bottom: 0;
        line-height: 1.25;
        margin-top: 0.5em;
    }
    .date {
        @include light;
    }
}

.portfolio-item {
    &__image-wrapper, &__text-wrapper {
        width: 100%;
    }
    &__image-list {
        @include unlist;
        li:not(:last-of-type) {
            margin-bottom: $padding-base;
        }
    }
}
