.tag-list--all-tags {
    li {
        margin-bottom: rem(10px);
    }
}

.tag-list--tag-page {
    @include unlist;
    margin-bottom: rem($padding-base);
    &__tag {
        padding-top: rem(5px);
        border-bottom: 2px solid $blue;
        h2 {
            @include h4;
            margin-bottom: rem(5px);
        }
        a {
            display: block;
            padding-bottom: rem($padding-base / 2);
            text-decoration: none;
            &:hover h2 {
                text-decoration: underline;
            }
        }
        span {
            @include base;
            display: block;
        }
        .tag__page-date {
            @include small;
            @include light;
        }
    }
}

.tag-list--blog-post {
    ul {
        @include unlist;
    }
    &__tag {
        display: inline-block;
        margin-left: rem($padding-base);
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.tag-list--portfolio-item {
    @include unlist;
    @include light;
    font-size: rem(14px);
    margin-top: rem($padding-base);
    li {
        display: inline-block;
    }
    span {
        margin: 0 rem(5px);
    }
}