@font-face {
    font-family: 'Metropolis Medium';
    src: url("./../fonts/Metropolis/WOFF2/Metropolis-Medium.woff2") format('woff2'),
         url("./../fonts/Metropolis/WOFF/Metropolis-Medium.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis SemiBold';
    src: url("./../fonts/Metropolis/WOFF2/Metropolis-SemiBold.woff2") format('woff2'),
         url("./../fonts/Metropolis/WOFF/Metropolis-SemiBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis SemiBold Italic';
    src: url("./../fonts/Metropolis/WOFF2/Metropolis-SemiBoldItalic.woff2") format('woff2'),
         url("./../fonts/Metropolis/WOFF/Metropolis-SemiBoldItalic.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Regular';
    src: url("./../fonts/Metropolis/WOFF2/Metropolis-Regular.woff2") format('woff2'),
         url("./../fonts/Metropolis/WOFF/Metropolis-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis ExtraBold';
    src: url("./../fonts/Metropolis/WOFF2/Metropolis-ExtraBold.woff2") format('woff2'),
         url("./../fonts/Metropolis/WOFF/Metropolis-ExtraBold.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-Italic';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-Italic.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-Black';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-Black.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-Bold';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-Bold.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-BoldItalic';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-BoldItalic.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-BlackItalic';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-BlackItalic.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-BlackItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-Regular';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-Regular.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-HeavyItalic';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-HeavyItalic.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-HeavyItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClearfaceStd-Heavy';
    src: url('./../fonts/Clearface/WOFF2/ClearfaceStd-Heavy.woff2') format('woff2'),
        url('./../fonts/Clearface/WOFF/ClearfaceStd-Heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}