@mixin regular {
    font-family: "Metropolis Medium", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin light {
    font-family: "Metropolis Regular", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin bold {
    font-family: "Metropolis SemiBold", Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin bold-italic {
  font-family: "Metropolis SemiBold Italic", Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin base {
    font-size: rem(16px);
}

@mixin small {
    font-size: rem(14px);
}

@mixin h4 {
  font-size: $h4;
  @include max-width(sm) {
      font-size: rem(18px);
  }
}

@mixin h3 {
  font-size: $h3;
  @include max-width(sm) {
    font-size: $h4;
  }
}

@mixin h2 {
  font-size: $h2;
  @include max-width(sm) {
    font-size: $h3;
  }
}

@mixin h1 {
  font-size: $h1;
  @include max-width(sm) {
    font-size: $h2;
  }
}

@mixin min-width($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint-value: map-get($breakpoints, $breakpoint);
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin max-width($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      $breakpoint-value: map-get($breakpoints, $breakpoint);
      @media (max-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin between-widths($lower, $upper) {
    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
      $lower-breakpoint: map-get($breakpoints, $lower);
      $upper-breakpoint: map-get($breakpoints, $upper);
      @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
        @content;
      }
    } @else {
      @if (map-has-key($breakpoints, $lower) == false) {
        @warn 'Your lower breakpoint was invalid: #{$lower}.';
      }
      @if (map-has-key($breakpoints, $upper) == false) {
        @warn 'Your upper breakpoint was invalid: #{$upper}.';
      }
    }
}

@mixin unlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@mixin container {
    max-width: $max-width;
    padding: 0 rem(20px);
    margin: auto;
  }