h1, h2, h3, h4, h5 {
    color: $red;
}

h1, h2, h3, h4 {
    @include bold;
    margin: 0.5em 0;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

small, .small {
    @include small;
}

b, strong, .bold {
    @include bold;
}

a {
    color: $blue;
    text-underline-position: under;
    &:hover, &:focus {
        text-decoration: none;
    } 
}

.bold-italic {
    @include bold-italic;
}

.color-red {
    color: $red;
}

.color-blue {
    color: $blue;
}