h1, h2, h3, h4, h5 {
    color: $red;
}

h1, h2, h3, h4 {
    @include bold;
    margin: 0.5em 0;
}

h1 {
    @include h1;
}

h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

small, .small {
    @include small;
}

b, strong, .bold {
    @include bold;
}

a {
    color: $blue;
    text-underline-position: under;
    text-decoration: none;
    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

.bold-italic {
    @include bold-italic;
}

.color-red {
    color: $red;
}

.color-blue {
    color: $blue;
}

.page-title {
    @include header;
    background-color: white;
    box-shadow: 10px 10px 0px -5px $red;
    padding: 0 rem($padding-base);
    padding-top: rem($padding-base) / 2;
}